<% include partials/header %>

<% include partials/nav %>

<div class="container">
    <header class="jumbotron">

        <div class="container">
            <h1>Landing page</h1>

            <p>welcome to YelpCamp</p>
            <a href="/campgrounds" class="btn btn-success">View all campgrounds</a>
        </div>
    </header>
</div>


<% include partials/footer %>