<% include partials/header %>
<% include partials/nav %>

<div class="container">
    <header class="jumbotron jumboNew">

        <div class="container">

            <form method="post" action="/campgrounds" class="container ">
                <h1>Add new campground</h1>
                <div class="addNewInput input-group mb-3">
                    <input type="text" name="name" placeholder="name campground" class="form-control">
                </div>
                <div class="addNewInput input-group mb-3">
                    <input type="text" name="imgSrc" placeholder="put in image url" class="form-control">
                </div>
                <div class="addNewInput input-group mb-3">
                    <input type="text" name="description" placeholder="put in some description plz" class="form-control">
                </div>
                <button type="submit"
                        class="btn btn-primary btn-large form-control addNewInput"
                        >Add campground</button>
                <a href="/campgrounds" class="link link-prinary btn-large addNewInput">Go back</a>
            </form>

        </div>
    </header>
</div>




<% include partials/footer %>