<% include partials/header %>
<% include partials/nav %>

<div class="container">
    <header class="jumbotron">

        <div class="container">
            <h1>Add new campground</h1>

            <a href="/campgrounds" class="btn btn-primary btn-large">Go back</a>

            <form method="post" action="/campgrounds">
                <input type="text" name="name" placeholder="name campground">
                <input type="text" name="imgSrc" placeholder="put in image url">
                <button type="submit" class="btn btn-success btn-large">Add campground</button>
            </form>
        </div>
    </header>
</div>




<% include partials/footer %>