body {
    background-color: white;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.thumbsUp {
    width: 100%;
}

.gridr {
    display: flex;
    flex-wrap: wrap;
}

.thumb {
    margin: 2.66%;
}

.addNewInput {
    margin: 4px;
}

.jumboNew {
    background-color: white;
}

.container {
    width: 100%;
    padding: 1.66%;
    margin: 25px auto;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 10px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 500px) {
    .container {
        width: 90%;
        padding: 1.66%;
    }

    img {
        width: 100%;
    }
}

/* Smaller than Medium devices (tablets, 768px and up)*/
@media (min-width: 690px) {
    .container {
        width: 75%;
        padding: 1.66%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container {
        width: 60%;
        padding: 1.66%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container {
        width: 70%;
        padding: 1.66%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container {
        width: 60%;
        padding: 1.66%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1350px) {
    .container {
        width: 45%;
        padding: 0.66%;
    }
}